<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/student">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item ">

                    <a href="/student/logout"> <button type="submit" class="btn btn-danger mb-1">Logout</button></a>
                </li>

        </div>
    </nav>

    <div class="container">

    </div>

    <div class="container">

        <br>
        <form action="/student/submit" method="POST" >
            <input type="hidden" value="<%=surveyid%>" name ="surveyid">
        <% let count = 0 ; questionlist.forEach( function(que) {  count = count+1;%>
     

            
                <h4 style="display: inline;"> Question <%= count %> :  <%= que.question %></h4>

                <select name="a<%=count%>">
                    <option value="1"><%=que.a1%></option>
                    <option value="2"><%=que.a2%></option>
                    <option value="3"><%=que.a3%></option>
                    <option value="4"><%=que.a4%></option>
                  </select>
                  <br>

        <% })%>
        <input type="hidden" value="<%=count%>" name ="count">
        <button type="submit" class="btn btn-success mb-1">Submit</button></a>
    </form>
   
    </div>
  

</body>

</html>