<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light  " style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="#">Survey</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto"> 
                        
                            <li class="nav-item ">

                                  <a href="/teacher/logout">  <button type="submit"  class="btn btn-danger mb-1">Logout</button></a>
                                </li>
                               
        
        
                        <!-- <form class="form-inline my-2 my-lg-0"> 
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form> -->
                </div>
            </nav>
    Welcome <%= name %>

    <div id="king" class="container">
        <div id="inner">
            <a href="/teacher/create"><button  class="btn btn-success mb-1" >Create New Survey</button></a>
            <!-- <a href="/teacher/create"><button  class="btn btn-success mb-1" >C Survey</button></a> -->
        </div>
    </div>
      <div class="container">
        <% let count = 0 ; survey.forEach( function(que) {  count = count+1;%>
            <div id="inner">
                <form method="GET" action="teacher/viewsurvey">
                <input type="hidden" value="<%=que.id%>"Name="surveyid" >

                 <h4>  <%= count %> ) <u> <%= que.sem %> <%= que.sec %></u> :  <%= que.name %> <button  type="submit" class="btn btn-primary mb-1" >View</button></h4></a>
            </form>
            </div>
            <% })%>
      </div>
    
</body>
</html>